<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-5">
        <div class="mx-auto mt-5" style="width: 400px">
          <%= form_with(url: movies_path, method: 'get', remote: true) do %>
            <div class="form-group">
              <%= label_tag :movie, 'Search for a movie '%>
              <%= text_field_tag :movie, nil, placeholder: 'Eg. Gone With the Wind', class: 'form-control' %>
            </div>
            <%= button_tag 'Search', class: 'btn btn-success btn-block' %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <% if flash[:alert] %>
          <div class="alert alert-warning"><%= flash[:alert] %></div>
        <% end %>
        <div class="mx-auto mt-5" style="width: 400px">
        </div>
      </div>
    </div>
  </div>

  <!--<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>-->

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @movies.each do |movie| %>
          <div class="col">
          <div class="card shadow-sm">

            <%#= movie.data %>

            <% if movie.poster != "N/A" %>
              <img src="<%= movie.poster %>" width="100%" height="100%"  />
            <% else %>
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: No Image Available" preserveAspectRatio="xMidYMid slice" focusable="false"><title>No Image Available</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">No Image Available</text></svg>
          <% end %>

            <div class="card-body">
              <div class="btn-group">
                <small class="text-muted"><%= movie.year %></small>
              </div>
              <h2><%= movie.title %></h2>
              <!--<p><%#= movie.data %></p>-->
              <p class="card-text"><%= movie.plot %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <small class="text-muted"><%= movie.runtime %></small>
                </div>
                <small class="text-muted"><%= movie.rated %></small>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <!-- show pagination -->
        <%= paginate @movies, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>

</main>
